[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = ">=2.5"

[dev-packages]
onyx = {editable = true, path = "."}
pytest = "*"

[requires]
python_version = "3.11"
